@use "variables" as *;

/*
Archivo para guardar mixins reutilizables.

Ejemplo:
@mixin contenedor {
  width: min(100% - 2rem, $ANCHO-CONTENEDOR);
  margin-inline: auto;
}

Uso:
.main {
  @include contenedor;
}
*/


@mixin fila-separada {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin centrar-absoluto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}