/*
Archivo para guardar solo variables.

Ejemplo:
$COLOR-PRIMARIO: #0d6efd;
$COLOR-FONDO: #0a0e17;
$ANCHO-CONTENEDOR: 1200px;
*/

/* =====================
        COLORES
======================== */
$COLOR-PRIMARIO: #C5A880;
$COLOR-FONDO: #0A1628;
$COLOR-TEXTO: #FFFFFF;
$COLOR-TEXTO-MENU: #C5CDE0;
$COLOR-FONDO-CLARO: rgba(19, 34, 56, 0.92);
$COLOR-TEXTO-OSCURO: #FFFFFF;
$COLOR-TEXTO-PARRAFO: #C5CDE0;
$COLOR-FONDO-GRIS: rgba(10, 22, 40, 0.92);


/* =====================
        TIPOGRAFÍA
======================== */
$FUENTE-PRINCIPAL: 'Montserrat', sans-serif;
$FUENTE-SECUNDARIA: 'Montserrat', sans-serif;
$FUENTE-RESALTADO: 'Montserrat', sans-serif;


/* =====================
        TAMAÑO FUENTE
======================== */
$TAMANO-FUENTE-BASE: 16px;
$TAMANO-FUENTE-TITULO: 24px;
$TAMANO-FUENTE-MENU: 12px;
$TAMANO-FUENTE-H1: 70px;

