/*
Archivo para guardar solo variables.

Ejemplo:
$COLOR-PRIMARIO: #0d6efd;
$COLOR-FONDO: #0a0e17;
$ANCHO-CONTENEDOR: 1200px;
*/



$COLOR-PRIMARIO: #0d6efd;
$COLOR-FONDO: #6c757d;
$COLOR-TEXTO: #FFFFFF;
$COLOR-TEXTO-MENU: #a0aabf;

