/*
Archivo para guardar solo variables.

Ejemplo:
$COLOR-PRIMARIO: #0d6efd;
$COLOR-FONDO: #0a0e17;
$ANCHO-CONTENEDOR: 1200px;
*/
$COLOR-PRIMARIO: #0d6efd;
$COLOR-FONDO: #6c757d;
$COLOR-TEXTO: #FFFFFF;
$COLOR-TEXTO-MENU: #a0aabf;
$COLOR-FONDO-CLARO: #ffffff;
$COLOR-TEXTO-OSCURO: #1a1a1a;
$COLOR-TEXTO-PARRAFO: #555555;
$COLOR-FONDO-GRIS: #f8f9fa;  


